*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
  margin: 0 auto;
  max-width: 1300px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    padding: 0 ;
    height: 80px;
    align-items: center;
    width: 100%;
    /* position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(225, 225, 225, 0.3); */
    /* background-color: linen; */
}

.logo{
    flex: 1;
}

.menu{
    flex: 3;
    display: flex;
}

.menu > li{
    padding: 0 30px;
    position: relative;
}

.menu > li:hover .sub-menu{
    visibility: visible;
    top: 52.2px;
}

.sub-menu{
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 15px;
    visibility: hidden;
    top: 60px;
    transition: 0.4s;
    background-color: #fff;
    z-index: 1;
}

.sub-menu ul {
    padding-left: 15px;
}

.menu > li a {
    font-size: 15px;
    color: black;
    font-weight: bold;
    display: block;
    line-height: 25px;
}

.others{
    flex: 1;
    display: flex;
}

.others > li{
    padding: 0 20px;
}

.others li a{
  color: #000;
}

.others > li:first-child {
    position: relative;
}

.others > li:first-child input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
}

.others > li:first-child i{
    position: absolute;
    right: 20px;
    top: 2px;
}

#slide{
    padding-bottom: 30px;
    border-bottom: 2px solid;
    overflow: hidden;
  }

.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.4s;
  }
  
  .aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 600px;
    top: 0;
    left: 0;
  }

  .dot-container{
    position: absolute;
    height: 30px;
    width: 1300px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    top: 680px;
  }

  .dot{
    height: 15px;
    width: 15px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }

  .dot.active{
    background-color: #333;
  }
  
  /*----------------app-----------------*/

  .app-container{
    text-align: center;
    align-items: center;
    padding: 100px 0 30px;
  }


  .app-download img{
    height: 150px;
  }

  .app-container p{
    line-height: 15px;
    letter-spacing: 1px;
    font-size: 20px;
    color: #000;
    font-weight: bold;
  }

  .app-container input{
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 15px;
    width: 400px;
    text-align: center;
    justify-content: center;
  }

  /*------------footer-------------*/
  .footer-top{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
  }
  

  .footer-top li{
    padding: 0 12px;
    position: relative;
  }

  .footer-top li a{
    color: #333;
    font-weight: bold;
  }

  .footer-top li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .footer-top li:last-child::after{
    display: none;
  }
  .address{
    text-align: center;
    margin-bottom: 20px;
  }
  
  .footer-bottom{
    text-align: center;
  }

/* ------------------category----------------- */
.row{
  display: flex;
  flex-wrap: wrap;
}


.category{
  padding: 50px 0 30px;
  border-bottom: 2px solid #333;
}

.category-right{
  width: 80%;
}

.category-left{
  width: 20%; 
}

.category-right-top-item:first-child{
  flex: 2;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.category-right-top-item{
  flex: 1;
  padding: 0 12px;
}

.category-right-top-item button{
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}

.category-right-top-item select{
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}

.category-right-content{
  margin-top: 20px;
  justify-content: space-between;
}
.category-right-content-item{
  width: calc(25% - 12px);
  text-align: center;
  padding: 12px 0;
}

.category-right-content-item h1{
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 6px;
  color: #333;
}

.category-right-content-item img{
  width: 100%; 
}

.category-right-bottom{
  justify-content: space-between;
  margin: 30px 0 20px;
  width: 100%;
  display: flex;
}

.category-right-bottom p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.category-left ul li{
  padding: 12px 0;
}

.category-left ul li>a{
  color: black;
  font-size: 16px;
  font-weight: bold; 
}

.category-submenu{
  padding-left: 10px;
}

.category-left-li ul{
  display: none;
}

.category-left-li.block ul{
  display: block;
}

/* ----------------Product ------------------*/

.product{
  padding: 100px 0;
}

.product-content-left-big-img{
  
}