
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
  margin: 0 auto;
  max-width: 1300px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    padding: 0 ;
    height: 80px;
    align-items: center;
    background: rgba(225, 225, 225, 0.3);
    /* width: 1300px ;
    position: fixed;
    top: 0;
    z-index: 1;
    background: rgba(225, 225, 225, 0.3);
    /* background-color: linen; */
} */

.logo{
    flex: 1;
}

.menu{
    flex: 3;
    display: flex;
}

.menu > li{
    padding: 0 35px;
    position: relative;
}

.menu > li:hover .sub-menu{
    visibility: visible;
    top: 52.2px;
}

.sub-menu{
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 15px;
    visibility: hidden;
    top: 60px;
    transition: 0.3s;
    background-color: #fff;
    z-index: 1;
}

.sub-menu ul {
    padding-left: 15px;
}

.menu > li a {
    font-size: 15px;
    color: black;
    font-weight: bold;
    display: block;
    line-height: 25px;
}

.others{
    flex: 1;
    display: flex;
}

.others > li{
    padding: 0 20px;
}

.others li a{
  color: #000;
}

.others > li:first-child {
    position: relative;
    padding: 0;
}

.others > li:first-child input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
}

.others > li:first-child i{
    position: absolute;
    right: 3px;
    top: 2px;
}

#slide{
    padding-bottom: 30px;
    /* border-bottom: 2px solid; */
    overflow: hidden;
  }

.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.4s;
  }
  
  .aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 600px;
    top: 0;
    left: 0;
  }

  .dot-container{
    position: absolute;
    height: 30px;
    width: 1300px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    top: 680px;
  }

  .dot{
    height: 15px;
    width: 15px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }

  .dot.active{
    background-color: #333;
  }
  
  /*----------------app-----------------*/

  .app-container{
    border-top: 2px solid black;
    text-align: center;
    align-items: center;
    padding: 100px 0 30px;
  }


  .app-download img{
    height: 150px;
  }

  .app-container p{
    line-height: 15px;
    letter-spacing: 1px;
    font-size: 20px;
    color: #000;
    font-weight: bold;
  }

  .app-container input{
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 15px;
    width: 400px;
    text-align: center;
    justify-content: center;
  }

  /*------------footer-------------*/
  .footer-top{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
  }
  

  .footer-top li{
    padding: 0 12px;
    position: relative;
  }

  .footer-top li a{
    color: #333;
    font-weight: bold;
  }

  .footer-top li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .footer-top li:last-child::after{
    display: none;
  }
  .address{
    text-align: center;
    margin-bottom: 20px;
  }
  
  .footer-bottom{
    text-align: center;
  }
/* ------------------category----------------- */
.row{
  display: flex;
  flex-wrap: wrap;
}


.category{
  padding: 50px 0 30px;
  border-bottom: 2px solid #333;
}

.cartegory-top {
  margin-bottom: 50px;
}

.cartegory-top p {
  font-family:Arial, Helvetica, sans-serif;
  margin: 0 12px;
  font-size: 15px;
  font-weight: bold;
}


.category-right{
  width: 80%;
}

.category-left{
  width: 20%; 
}

.category-right-top-item:first-child{
  flex: 2;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.category-right-top-item{
  flex: 1;
  padding: 0 12px;
}

.category-right-top-item button{
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}

.category-right-top-item select{
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}

.category-right-content{
  margin-top: 20px;
  justify-content: space-between;
}
.category-right-content-item{
  width: calc(25% - 12px);
  text-align: center;
  padding: 12px 0;
}

.category-right-content-item h1{
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 6px;
  color: #333;
}

.category-right-content-item img{
  width: 100%; 
}

.category-right-bottom{
  justify-content: space-between;
  margin: 30px 0 20px;
  width: 100%;
  display: flex;
}

.category-right-bottom p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.category-left ul li{
  padding: 12px 0;
}

.category-left ul li>a{
  color: black;
  font-size: 16px;
  font-weight: bold; 
}

.category-submenu{
  padding-left: 10px;
}

.category-left-li ul{
  display: none;
}

.category-left-li.block ul{
  display: block;
}

/* -------------- product --------------*/

.product {
  padding: 100px 0;
  border-bottom: 2px solid black;
}

.product-top {
  margin-bottom: 50px;
}

.product-top p {
  font-family:Arial, Helvetica, sans-serif;
  margin: 0 12px;
  font-size: 15px;
  font-weight: bold;
}

.product-content-left{
  width: 50%;
}

.product-big-img{
  width: 80%;
  padding-right: 20px;
}

.product-big-img img{
  width: 100%;
}

.product-small-img{
  width: 20%;
}

.product-small-img img{
  width: 100%;
  cursor: pointer;
}

.product-content-right{
  width: 50%;
  padding-left: 20px;
}

.product-content-right-title-name h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.product-content-right-title-name p{
  color: grey;
  font-size: 12px;
}

.product-content-right-price{
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.product-content-right-color{
  padding-bottom: 10px;
}

.size{
  display: inline-block;
  padding: 3px 6px;
  border: 1px solid #ddd;
  margin: 12px 10px 12px 0;
  cursor: pointer;
}

.quantity{
  display: flex;
  margin-bottom: 20px;
}

.quantity input{
  width: 40px;
  padding-left: 5px;
}

.product-content-right-button button{
  width: 150px;
  height: 40px;
  display: block;
  margin: 20px 0 12px;
  transition: all 0.3s ease;
}

.product-content-right-button button:first-child{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  border: 2px solid black;
  cursor: pointer;
}

.product-content-right-button button:first-child:hover{
  background-color: black;
  color: #fff;
}

.product-content-right-button button:last-child{
  border: 2px solid #bf8349;
  color: #bf8349;
  background-color: #fff;
  cursor: pointer;
}

.product-content-right-button button:last-child:hover{
  background-color: #bf8349;
  color: #fff;
}

.product-content-right-icon{
  display: flex;
}

.product-right-icon-item{
  display: flex;
  margin-right: 12px;
  justify-content: center;
  align-items: center;
}
.product-right-icon-item i{
  font-size: 12px;
  margin-right: 6px;
}

.product-content-right-qrcode{
  margin: 20px 0;
}

.product-content-right-bottom {
  padding-top: 40px;
  border-top: 1px solid #dddddd;
  position: relative;
}

.product-content-right-bottom-top {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #dddddd ;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  top: -15px;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.product-content-right-bottom-title {
  display: flex;
  border-bottom: 2px solid #dddddd;
}
.product-content-right-bottom-title-item {
  padding: 6px 6px;
  cursor: pointer;
  margin-right: 6px;
}
.product-content-right-bottom-content {
  padding-top: 30px;
}
.product-content-right-bottom-content p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.product-content-right-bottom-title-item p {
  font-family: Arial, Helvetica, sans-serif;
}
.product-content-right-bottom-content-baoquan {
  display: none;
}
.product-content-right-bottom-content-big
{display: block;}
.activeB {
  display: none;
}

/* -----------------PRODUCT RELATED ---------------------*/
.product-related {
  margin-bottom: 50px;
}

.product-related-title {
  margin: 20px 0;
}

.product-related-title p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.product-related-item {
  width: calc((100% - 60px)/5);
  text-align: center;
}

.product-related-item img {
  width: 100%;
}

.product-related-item h1 {
  font-size: 11px;
  font-family:Arial, Helvetica, sans-serif;
  margin-top: 6px;
  color: #333333;
}

.product-related-item p {
  font-size: 12px;
}

.justify-between {
  justify-content: space-between;
}

/*----------------------------------Cart-------------------------------*/
.cart {
  padding: 70px 0;
}

.cart a{
  color: #0000EE;
  font-weight: bold;
}

.cart-top-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-top {
  height: 2px;
  width: 70%;
  background-color: #dddddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 100px;
}
.cart-top-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#fff;
}
.cart-top-item i {
  color: #dddddd;
}
.cart-top-cart {
  border: 1px solid #0DB7EA;
}
.cart-top-cart i{
  color: #0DB7EA;
}
.cart-content-left {
  flex: 2;
  padding-right: 12px;
}
.cart-content-left table {
  width: 100%;
  text-align: center;

}


.cart-content-left table th {
  padding-bottom: 30px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #333;
  border-collapse: collapse;
  border-bottom: 2px solid #dddddd;

  
}
.cart-content-left table p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}
.cart-content-left table input {
  width: 30px;
}
.cart-content-left table span {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #dddddd;
  cursor: pointer;
}
.cart-content-left table td {
  padding: 20px 0;
  border-bottom: 2px solid #dddddd;
}

.cart-content-left td:first-child img {
  width: 130px;
}
.cart-content-left td:nth-child(2) {
  max-width: 130px;
}
.cart-content-left td:nth-child(3) img {
  width: 30px;
}
.cart-content-left table td:nth-child(5) span {
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-content-right {
  flex: 1;
  padding-left: 12px;
  border-left: 2px solid #dddddd;
}
.cart-content-right table {
  width: 100%;
}
.cart-content-right table th {
  padding-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #333;
  border-collapse: collapse;
  border-bottom: 2px solid #dddddd;
}
.cart-content-right table td  {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  padding: 6px 0;

}

.cart-content-right tr:nth-child(4) td {
  border-bottom: 2px solid #dddddd;
}
.cart-content-right tr td:last-child {
  text-align: right;
}
.cart-content-right-text {
  margin: 20px 0;
  text-align: center;
}
.cart-content-right-text p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}
.cart-content-right-button {
  text-align: center;
  align-items: center;
}
.cart-content-right-button button {
  padding:0 18px;
  height: 35px;
  cursor: pointer;
}

.cart-content-right-button button:first-child {
  background-color: #dddd;
  border: 1px solid black;
  margin-right: 20px;
}
.cart-content-right-button button:first-child:hover {
  background-color:skyblue;
}
.cart-content-right-button button:last-child {
  background-color: #dddd;
  color: #fff;
  border: none;
  border: 1px solid black;
}
.cart-content-right-button button:last-child:hover {
  background-color: skyblue;
  color: #333;
 
}
.cart-content-right-dangnhap {
  margin-top: 20px;
}
.cart-content-right-dangnhap p {
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}


/* ---------------------------DELIVERY-------------------------- */
.delivery {
  padding: 100px 0;
}
.delivery-top-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.delivery-top {
  height: 2px;
  width: 70%;
  background-color: #dddddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 100px;
}
.delivery-top-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#fff ;
}
.delivery-top-item i {
  color: #dddddd;
}
.delivery-top-adress {
  border: 1px solid #0DB7EA;
}
.delivery-top-adress i{
  color: #0DB7EA;
}
.delivery-content-left {
  width: 60%;
  padding-right: 12px;
}

.delivery-content-left p {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.delivery-content-left label {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15x;
  display: block;
  margin-bottom: 6px;
}
.delivery-content-left >p {
  font-weight: bold;
}
.delivery-content-left-dangnhap {
  margin: 10px 0px;
}

.delivery-content-left-dangnhap i {
  font-size: 15px;
  margin-right: 10px;
}

.delivery-content-left-khachle {
  margin-bottom: 10px;
}

.delivery-content-left-dangky{
  margin-bottom: 20px;
}

.delivery-content-left-input-top-item{
  margin-bottom: 20px;
}

.delivery-content-left-input-top {
  justify-content: space-between;
}
.delivery-content-left-input-top-item {
  width: calc(50% - 12px);
}
.delivery-content-left-input-top-item input,select {
  width: 100%;
  height: 35px;
  border: 1px solid #dddddd;
  padding-left: 6px;
}
.delivery-content-left-input-bottom input {
  height: 35px;
  width: 100%;
  border: 1px solid #dddddd;
  padding-left: 6px;
}
.delivery-content-left-input-password {
  justify-content: space-between;
  display: none;
}
.delivery-content-left-input-password-item {
  width: calc(50% - 12px);
}
.delivery-content-left-input-password-item input {
  width: 100%;
  height: 35px;
  border: 1px solid #dddddd;
  padding-left: 6px;
}
.delivery-content-left-button p {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #0000EE;
}
.delivery-content-left-button span {
  margin-right: 12px;
}
.delivery-content-left-button {
  justify-content: space-between;
  padding-top: 20px;
}

.delivery-content-left-button button {
  height: 35px;
  padding: 6px 12px;
  border: 2px solid black;
  cursor: pointer;
  background-color: #dddd;
}
.delivery-content-left-button button:hover {
  background-color: skyblue;
  color: #FFF;
}
.delivery-content-right {
  width: 40%;
  padding-left: 12px;
  border-left: 2px solid #dddddd;
  height: auto;
}
.delivery-content-right table {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
}
.delivery-content-right table tr th:first-child {
  text-align: left;
}
.delivery-content-right table tr th {
 padding-bottom: 12px;
 border-bottom: 2px solid #dddddd;
}
.delivery-content-right table tr th:last-child {
  text-align: right;
}
.delivery-content-right table tr td {
 padding: 6px 0;
}

.delivery-content-right table tr td:last-child {
  text-align: right;
}
.delivery-content-right table tr td:first-child {
  text-align: left;
}
.register {
  display: none;
}
.register-input:checked ~ .register {
  display: flex;
}

/* --------------------------PAYMENT-------------------------------------- */
.payment {
  padding: 100px 0;
}
.payment-top-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.payment-top {
  height: 2px;
  width: 70%;
  background-color: #dddddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 100px;
}
.payment-top-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#fff;
}
.payment-top-item i {
  color: #dddddd;
}
.payment-top .delivery-top-payment {
  border: 1px solid #0DB7EA;
}
.payment-top .delivery-top-payment i{
  color: #0DB7EA;
}
.payment-content-left {
  width: 60%;
}

.payment-content-left-method-delivery-item{
  padding: 5px 0 10px 0;
}

.payment-content-left-method-payment-item-img{
  padding: 5px 0;
}

.payment-content-right {
  width: 40%;
  border-left: 2px solid #ddd;
  padding-left: 12px;
}
.payment-content-left p,label {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.payment-content-right-button {
  display: flex;
  padding: 12px 0;
  border-bottom: 1px dashed #dddddd;
}
.payment-content-right-button input {
  height: 30px;
  width: 200px;
  margin-right: 100px;
  padding-left: 12px;
}
.payment-content-right-button button {
  height: 30px;
  width: 100px;
  background-color: black;
  color: #fff;
  border: none;
}
.payment-content-right-mnv {
  margin-top: 20px;
}
.payment-content-right-mnv select {
  height: 30px; 
  width: 100%;
  color: #75758A;
  padding-left: 12px;
}
.payment-content-right-payment {
  margin-top: 50px;
  align-items: center;
  text-align: center;
}
.payment-content-right-payment button {
  height: 35px;
  padding: 0 20px;
  font-size: 15px;
  color: black;
  font-weight: bold;
  border: 2px solid black;
  cursor: pointer;
}
.payment-content-right-payment button:hover {
  background-color: skyblue;
  color: #fff;
}
.payment-content-right table {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  color: #000000;
}
.payment-content-right table tr th:first-child {
  text-align: left;
}
.payment-content-right table tr th {
 padding-bottom: 12px;
 border-bottom: 2px solid #dddddd;
}
.payment-content-right table tr th:last-child {
  text-align: right;
}
.payment-content-right table tr td {
 padding: 6px 0;

}

.payment-content-right table tr td:last-child {
  text-align: right;
}
.payment-content-right table tr td:first-child {
  text-align: left;
}
